<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #2C305E;">
        <div class="container-fluid">
            <a href="../home/inicio.html"><img src="imagenes/logo.jpg" alt="" class="navbar-brand"></a>

            <a href="../home/inicio.html">
                <button class="btn btn-primary dropdown-toggle3" type="button" style="margin-right: 3em;">
                      <i class="material-icons">home</i> 
                </button>
            </a>
        </div>
    </nav>
</header>