<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #2C305E;">
        <div class="container-fluid">
            <a href="../home/inicio.html"><img src="../home/imagenes/logo.jpg" alt="" class="navbar-brand" id="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
            <div class="collapse navbar-collapse justify-content-md-end" id="ccc">
                <form class="d-flex">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle3" type="button" data-bs-toggle="dropdown" aria-expanded="true" autocomplete="on" style="margin-right: 3em;">
                      ADMIN
                    </button>
                        <ul class="dropdown-menu " id="hhh">
                            <li><a class="dropdown-item" href="../rutinas/rutinas.html">Rutinas</a></li>
                            <li><a class="dropdown-item" href="../usuarios/MiPlan.html">Mi Plan</a></li>
                            <hr class="my-1">
                            <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</header>