
.btn {
    border-radius: 5px;
    min-width: 100px;
    font-size: 15px;
    padding: 7px;
    background-color: #0397d6;
}

#hhh li {
    border-radius: 5px;
    min-width: 100px;
    font-size: 15px;
    padding-bottom: 5px;
}

#ccc {
    margin-right: 1%;
}